<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>

<% @posts.each do |post| %>
<div class="post-list-item">
  <% if post.img %>
  <%= image_tag(post.img ,
    class: "img-fluid",
    style: "border-radius: 5px; width:200px; height:200;"
    ) %>
  <% else %>
  <%= image_tag("Gifticon.png" ,
    class: "img-fluid",
    style: "border-radius: 5px;
    width:200px; height:200px;"
    ) %>
  <% end %>
</br>
  <%= link_to post.title, post_path(post) %></br>
  <%= post.body %>
  <hr>
</div>
<% end %>
